@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
/* 

Events Pages
============
Describes the styles that will be used for the events listing page
and event view pages.	
*/
/*

Events List
-----------
Styles for the events listing

*/
.events-list-body {
  background: #ddd;
  color: #333;
}

/*

### Event Poster Container
A collection of Event Items

#### Event Item
A link to an event that is represented by
an image of a poster and text.

*/
.events-list-body .event-poster-container h1 {
  color: #222;
  font-size: 50px;
  padding: 0;
  margin: 0;
  letter-spacing: -2px;
}
.events-list-body .event-poster-container h2 {
  color: #f00;
  font-size: 30px;
}
.events-list-body .event-poster-container h2 .term {
  color: #333;
}

/*

Events View
-----------
Styles for viewing a single event

*/
.events-view-body {
  background: #fff;
  color: #333;
}

/*

### Event Poster Container
A collection of Event Items

#### Event Item
A link to an event that is represented by
an image of a poster and text.

*/
.events-view-body .event-view-container {
  margin: 100px 0 30px 0;
}
.events-view-body .event-view-container .event-view-poster {
  position: relative;
}
.events-view-body .event-view-container .event-view-poster img {
  width: 100%;
}
.events-view-body .event-view-container .event-view-poster .event-info span, .events-view-body .event-view-container .event-view-poster .event-info time {
  color: #fff;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.events-view-body .event-view-container .event-view-poster .event-info .title {
  font-size: 85px;
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: uppercase;
  top: 400px;
  left: 0;
  right: 0;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -7px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
}
.events-view-body .event-view-container .event-view-poster .event-info time {
  left: 0;
  right: 0;
  width: 100%;
  top: 550px;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
}
.events-view-body .event-view-container .event-view-poster .event-info time * {
  display: inline;
  text-align: center;
}
.events-view-body .event-view-container .event-view-poster .event-info time *:after {
  content: " //";
}
.events-view-body .event-view-container .event-view-poster .event-info time *:last-child:after {
  content: '';
}
.events-view-body .event-view-container .event-view-poster .event-info .description {
  right: 0;
  top: 0;
  width: 300px;
  font-size: 20px;
  display: none;
}
