@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

@mixin mock-poster {
	.title {
		font-size:85px;
		text-align:center;
		font-family: 'Archivo Narrow', sans-serif;
		text-transform:uppercase;
		top:400px;
		left:0;
		right:0;

		font-weight:bold;
		line-height:70px;
		letter-spacing:-7px;

		text-shadow:rgba(0,0,0,.5) 0px 2px 2px;
	}

	time {
		left:0;
		right:0;
		width:100%;
		top:550px;

		font-family: 'Archivo Narrow', sans-serif;
		text-align: center;
		font-size: 23px;
		text-transform: uppercase;
	}

	time * {
		display:inline;
		text-align: center;
	}

	time *:after {
		content:" //";
	}

	time *:last-child:after {
		content: '';
	}

	.description {
		right:0;
		top:0;
		width:300px;
		font-size:20px;
		display: none;
	}
}