@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Francois+One);
/*
  No Document Padding
  ===================
  This allows us to have elements that strech for
  the span of the document.
*/
/* line 8, ../scss/_structure.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
  Horizontal Navi(gation)
  =====================
  Uses ul>li*>a or ol>li*>a to make the horzizntal navigation pattern
 */
/* line 22, ../scss/_structure.scss */
.horizontal-navi, .breadcrumb, header .main-overhead-navi {
  margin: 0;
  padding: 0px;
}

/* line 27, ../scss/_structure.scss */
.horizontal-navi ul, .breadcrumb ul, header .main-overhead-navi ul {
  margin: 0;
  padding: 0;
}

/* line 32, ../scss/_structure.scss */
.horizontal-navi li, .breadcrumb li, header .main-overhead-navi li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

/* line 40, ../scss/_structure.scss */
.horizontal-navi ul li a, .breadcrumb ul li a, header .main-overhead-navi ul li a {
  display: block;
  padding: 0;
  margin: 0;
}

/* 
  Content Structure
  =================

  Wrapper for content. Top Padding added for navbar 
*/
/* line 54, ../scss/_structure.scss */
.content-container-with-breadcrumb {
  margin: 40px 0 30px 0;
}

/* line 59, ../scss/_structure.scss */
.content-container, .events-view-body .event-view-container {
  margin: 100px 0 30px 0;
}

/*
	Skins
	=====

	Style that only exist for changing the appearance of an element
*/
/* line 8, ../scss/_base.scss */
.skin-black-glass-shadow {
  background: #333;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px;
  border-bottom: #333 1px solid;
  border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
}

/*
  No Document Padding
  ===================
  This allows us to have elements that strech for
  the span of the document.
*/
/* line 8, ../scss/_structure.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
  Horizontal Navi(gation)
  =====================
  Uses ul>li*>a or ol>li*>a to make the horzizntal navigation pattern
 */
/* line 22, ../scss/_structure.scss */
.horizontal-navi, .breadcrumb, header .main-overhead-navi {
  margin: 0;
  padding: 0px;
}

/* line 27, ../scss/_structure.scss */
.horizontal-navi ul, .breadcrumb ul, header .main-overhead-navi ul {
  margin: 0;
  padding: 0;
}

/* line 32, ../scss/_structure.scss */
.horizontal-navi li, .breadcrumb li, header .main-overhead-navi li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

/* line 40, ../scss/_structure.scss */
.horizontal-navi ul li a, .breadcrumb ul li a, header .main-overhead-navi ul li a {
  display: block;
  padding: 0;
  margin: 0;
}

/* 
  Content Structure
  =================

  Wrapper for content. Top Padding added for navbar 
*/
/* line 54, ../scss/_structure.scss */
.content-container-with-breadcrumb {
  margin: 40px 0 30px 0;
}

/* line 59, ../scss/_structure.scss */
.content-container, .events-view-body .event-view-container {
  margin: 100px 0 30px 0;
}

/* line 16, ../scss/_breadcrumb.scss */
.breadcrumb {
  color: #fff;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px -3px;
  border-top: #333 1px solid;
  border-top: rgba(0, 0, 0, 0.4) 1px solid;
  margin: 70px 0 0 0;
  height: 35px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
}
/* line 23, ../scss/_breadcrumb.scss */
.breadcrumb ul {
  width: 960px;
  margin: 0 auto;
}
/* line 29, ../scss/_breadcrumb.scss */
.breadcrumb ul li a {
  text-transform: lowercase;
  font-size: 1.0em;
  color: #fff;
  padding: 8px 10px;
  text-decoration: none;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
/* line 40, ../scss/_breadcrumb.scss */
.breadcrumb ul li a:hover {
  background: rgba(200, 200, 200, 0.2) !important;
  -webkit-transition: background-color 0.09s ease-in-out;
  -moz-transition: background-color 0.09s ease-in-out;
  -o-transition: background-color 0.09s ease-in-out;
  transition: background-color 0.09s ease-in-out;
}
/* line 45, ../scss/_breadcrumb.scss */
.breadcrumb ul li a:active {
  background: rgba(0, 0, 0, 0.4) !important;
}
/* line 49, ../scss/_breadcrumb.scss */
.breadcrumb ul li a:after {
  content: '\2192';
  text-decoration: none;
  margin: 0 0 0 15px;
}
/* line 58, ../scss/_breadcrumb.scss */
.breadcrumb ul li:last-child a {
  text-decoration: none;
  font-weight: bold;
  border: 0;
}
/* line 65, ../scss/_breadcrumb.scss */
.breadcrumb ul li:last-child a:after {
  margin: 0;
  content: '';
}

/* line 5, ../scss/_hero.scss */
.hero-item {
  display: block;
  background: #ddd;
  height: 305px;
  float: left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 2px;
  position: relative;
  overflow: hidden;
}
/* line 15, ../scss/_hero.scss */
.hero-item .hero-info {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px inset;
}
/* line 28, ../scss/_hero.scss */
.hero-item .hero-info .title {
  color: #fff;
  display: block;
  padding: 5% 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 0px;
}
/* line 43, ../scss/_hero.scss */
.hero-item .hero-info .description:before {
  content: "Description:";
}
/* line 46, ../scss/_hero.scss */
.hero-item .hero-info .data-item {
  display: none;
  font-size: 12px;
  padding: 10px;
  color: #fff;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}
/* line 54, ../scss/_hero.scss */
.hero-item .hero-info .data-item:before {
  font-weight: bold;
  margin-right: 12px;
}
/* line 59, ../scss/_hero.scss */
.hero-item .hero-info .time:before {
  content: "Time:";
}
/* line 63, ../scss/_hero.scss */
.hero-item .hero-info .date:before {
  content: "Date:";
}
/* line 67, ../scss/_hero.scss */
.hero-item .hero-info .location:before {
  content: "Location:";
}
/* line 70, ../scss/_hero.scss */
.hero-item .hero-info .description {
  border: 0;
  padding-top: 10px;
}
/* line 79, ../scss/_hero.scss */
.hero-item:hover {
  background: #555;
}
/* line 83, ../scss/_hero.scss */
.hero-item:hover .data-item {
  display: block;
}
/* line 87, ../scss/_hero.scss */
.hero-item:hover .hero-info {
  height: 305px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: height 0.2s, background-color 0.3s;
  -moz-transition: height 0.2s, background-color 0.3s;
  -ms-transition: height 0.2s, background-color 0.3s;
  -o-transition: height 0.2s, background-color 0.3s;
  transition: height 0.2s, background-color 0.3s;
}
/* line 93, ../scss/_hero.scss */
.hero-item:hover .title {
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}
/* line 99, ../scss/_hero.scss */
.hero-item img {
  width: 100%;
}

/* line 3, ../scss/_type.scss */
p {
  line-height: 1.56em;
  font-weight: 200;
}

/* line 8, ../scss/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

/*
  No Document Padding
  ===================
  This allows us to have elements that strech for
  the span of the document.
*/
/* line 8, ../scss/_structure.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
  Horizontal Navi(gation)
  =====================
  Uses ul>li*>a or ol>li*>a to make the horzizntal navigation pattern
 */
/* line 22, ../scss/_structure.scss */
.horizontal-navi, .breadcrumb, header .main-overhead-navi {
  margin: 0;
  padding: 0px;
}

/* line 27, ../scss/_structure.scss */
.horizontal-navi ul, .breadcrumb ul, header .main-overhead-navi ul {
  margin: 0;
  padding: 0;
}

/* line 32, ../scss/_structure.scss */
.horizontal-navi li, .breadcrumb li, header .main-overhead-navi li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

/* line 40, ../scss/_structure.scss */
.horizontal-navi ul li a, .breadcrumb ul li a, header .main-overhead-navi ul li a {
  display: block;
  padding: 0;
  margin: 0;
}

/* 
  Content Structure
  =================

  Wrapper for content. Top Padding added for navbar 
*/
/* line 54, ../scss/_structure.scss */
.content-container-with-breadcrumb {
  margin: 40px 0 30px 0;
}

/* line 59, ../scss/_structure.scss */
.content-container, .events-view-body .event-view-container {
  margin: 100px 0 30px 0;
}

/* 

Events Pages
============
Describes the styles that will be used for the events listing page
and event view pages.	
*/
/*

Events List
-----------
Styles for the events listing

*/
/* line 20, ../scss/_events.scss */
.events-list-body {
  background: #ddd;
  color: #333;
}

/*

### Event Poster Container
A collection of Event Items

#### Event Item
A link to an event that is represented by
an image of a poster and text.

*/
/* line 37, ../scss/_events.scss */
.events-list-body .event-poster-container h1 {
  color: #222;
  font-size: 50px;
  padding: 0;
  margin: 0;
  letter-spacing: -2px;
}
/* line 45, ../scss/_events.scss */
.events-list-body .event-poster-container h2 {
  color: #f00;
  font-size: 30px;
}
/* line 49, ../scss/_events.scss */
.events-list-body .event-poster-container h2 .term {
  color: #333;
}

/*

Events View
-----------
Styles for viewing a single event

*/
/* line 62, ../scss/_events.scss */
.events-view-body {
  background: #fff;
  color: #333;
}

/*

### Event Poster Container
A collection of Event Items

#### Event Item
A link to an event that is represented by
an image of a poster and text.

*/
/* line 81, ../scss/_events.scss */
.events-view-body .event-view-container .event-view-poster {
  position: relative;
}
/* line 84, ../scss/_events.scss */
.events-view-body .event-view-container .event-view-poster img {
  width: 100%;
}
/* line 90, ../scss/_events.scss */
.events-view-body .event-view-container .event-view-poster .event-info span, .events-view-body .event-view-container .event-view-poster .event-info time {
  color: #fff;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

/*
	Hero Banner
	============
	This is the image that appears on content pages
*/
/* line 8, ../scss/_home.scss */
.hero-wrapper {
  background-color: #333;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 10px;
  overflow: hidden;
  position: relative;
}

/* line 17, ../scss/_home.scss */
.hero-wrapper img {
  z-index: 1;
  display: block;
  margin: 0 auto;
}

/*
	Hero Message
	------------
	Styles the textbox that's in the hero wrapper
*/
/* line 27, ../scss/_home.scss */
.hero-message {
  color: #fff;
  padding: 20px;
  margin: 250px 10% 0 10%;
  font-size: 20px;
  position: absolute;
  z-index: 3000;
  text-align: center;
  width: 80%;
  text-shadow: black 0px 1px 3px;
}

/* line 42, ../scss/_home.scss */
.hero-message a {
  color: inherit;
}

/* line 46, ../scss/_home.scss */
.hero-message h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding: 5px 0;
}

/* line 57, ../scss/_home.scss */
.call-to-action h2 {
  color: #5d6646;
  text-align: center;
}

/*
  No Document Padding
  ===================
  This allows us to have elements that strech for
  the span of the document.
*/
/* line 8, ../scss/_structure.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
  Horizontal Navi(gation)
  =====================
  Uses ul>li*>a or ol>li*>a to make the horzizntal navigation pattern
 */
/* line 22, ../scss/_structure.scss */
.horizontal-navi, .breadcrumb, header .main-overhead-navi {
  margin: 0;
  padding: 0px;
}

/* line 27, ../scss/_structure.scss */
.horizontal-navi ul, .breadcrumb ul, header .main-overhead-navi ul {
  margin: 0;
  padding: 0;
}

/* line 32, ../scss/_structure.scss */
.horizontal-navi li, .breadcrumb li, header .main-overhead-navi li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

/* line 40, ../scss/_structure.scss */
.horizontal-navi ul li a, .breadcrumb ul li a, header .main-overhead-navi ul li a {
  display: block;
  padding: 0;
  margin: 0;
}

/* 
  Content Structure
  =================

  Wrapper for content. Top Padding added for navbar 
*/
/* line 54, ../scss/_structure.scss */
.content-container-with-breadcrumb {
  margin: 40px 0 30px 0;
}

/* line 59, ../scss/_structure.scss */
.content-container, .events-view-body .event-view-container {
  margin: 100px 0 30px 0;
}

/*
  No Document Padding
  ===================
  This allows us to have elements that strech for
  the span of the document.
*/
/* line 8, ../scss/_structure.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
  Horizontal Navi(gation)
  =====================
  Uses ul>li*>a or ol>li*>a to make the horzizntal navigation pattern
 */
/* line 22, ../scss/_structure.scss */
.horizontal-navi, .breadcrumb, header .main-overhead-navi {
  margin: 0;
  padding: 0px;
}

/* line 27, ../scss/_structure.scss */
.horizontal-navi ul, .breadcrumb ul, header .main-overhead-navi ul {
  margin: 0;
  padding: 0;
}

/* line 32, ../scss/_structure.scss */
.horizontal-navi li, .breadcrumb li, header .main-overhead-navi li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

/* line 40, ../scss/_structure.scss */
.horizontal-navi ul li a, .breadcrumb ul li a, header .main-overhead-navi ul li a {
  display: block;
  padding: 0;
  margin: 0;
}

/* 
  Content Structure
  =================

  Wrapper for content. Top Padding added for navbar 
*/
/* line 54, ../scss/_structure.scss */
.content-container-with-breadcrumb {
  margin: 40px 0 30px 0;
}

/* line 59, ../scss/_structure.scss */
.content-container, .events-view-body .event-view-container {
  margin: 100px 0 30px 0;
}

/* line 16, ../scss/_breadcrumb.scss */
.breadcrumb {
  color: #fff;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px -3px;
  border-top: #333 1px solid;
  border-top: rgba(0, 0, 0, 0.4) 1px solid;
  margin: 70px 0 0 0;
  height: 35px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
}
/* line 23, ../scss/_breadcrumb.scss */
.breadcrumb ul {
  width: 960px;
  margin: 0 auto;
}
/* line 29, ../scss/_breadcrumb.scss */
.breadcrumb ul li a {
  text-transform: lowercase;
  font-size: 1.0em;
  color: #fff;
  padding: 8px 10px;
  text-decoration: none;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
/* line 40, ../scss/_breadcrumb.scss */
.breadcrumb ul li a:hover {
  background: rgba(200, 200, 200, 0.2) !important;
  -webkit-transition: background-color 0.09s ease-in-out;
  -moz-transition: background-color 0.09s ease-in-out;
  -o-transition: background-color 0.09s ease-in-out;
  transition: background-color 0.09s ease-in-out;
}
/* line 45, ../scss/_breadcrumb.scss */
.breadcrumb ul li a:active {
  background: rgba(0, 0, 0, 0.4) !important;
}
/* line 49, ../scss/_breadcrumb.scss */
.breadcrumb ul li a:after {
  content: '\2192';
  text-decoration: none;
  margin: 0 0 0 15px;
}
/* line 58, ../scss/_breadcrumb.scss */
.breadcrumb ul li:last-child a {
  text-decoration: none;
  font-weight: bold;
  border: 0;
}
/* line 65, ../scss/_breadcrumb.scss */
.breadcrumb ul li:last-child a:after {
  margin: 0;
  content: '';
}

/*
	Body
	====
	Base styles for the page
*/
/* line 12, ../scss/_style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background: #eee;
  color: 333;
}

/*
	Header
	======
	Contains the overhead navigation of the page
*/
/* line 26, ../scss/_style.scss */
header {
  color: #fff;
  background: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
  border-bottom: #ddd 1px solid;
  border-bottom: rgba(155, 155, 155, 0.3) 1px solid;
  min-height: 80px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
}

/*
	Logo
	----
	Style for the acm/sigweb logo
*/
/* line 43, ../scss/_style.scss */
header .logo {
  display: block;
  text-align: center;
  height: 70px;
}

/*
	Overhead Navi
	-------------
	Styles the overhead navigation for the entire page
*/
/* line 55, ../scss/_style.scss */
header .main-overhead-navi {
  text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
}
/* line 58, ../scss/_style.scss */
header .main-overhead-navi ul li a {
  text-transform: uppercase;
  font-size: .9em;
  color: #fff;
  padding: 31px 20px;
  text-decoration: none;
}
/* line 67, ../scss/_style.scss */
header .main-overhead-navi ul li a:hover {
  background: rgba(200, 200, 200, 0.2) !important;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
/* line 72, ../scss/_style.scss */
header .main-overhead-navi ul li a:active {
  background: rgba(0, 0, 0, 0.4) !important;
}
/* line 77, ../scss/_style.scss */
header .main-overhead-navi ul li.current_page_item {
  background: rgba(0, 0, 0, 0.3) !important;
}

/*
	Footer
	======
	Contains the copyright information and possible
	extra navigation
*/
/* line 88, ../scss/_style.scss */
footer {
  color: #fff;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px -3px;
  border-top: #333 1px solid;
  border-top: rgba(0, 0, 0, 0.4) 1px solid;
  text-align: center;
  height: 100px;
}

/* line 96, ../scss/_style.scss */
.content-wrapper {
  margin-top: 60px;
}
