@import 'structure.scss';
@import 'skins.scss';

@mixin transition($property, $duration, $ms: false) {
	-webkit-transition: $property $duration ease-in-out;
	-moz-transition: $property $duration ease-in-out;
	-o-transition: $property $duration ease-in-out;
	@if ($ms) {
		-ms-transition: $property $duration ease-in-out;
	}
	transition: $property $duration ease-in-out;
}


.breadcrumb
{
	@extend .horizontal-navi;
	@include skin-black-glass-shadow(false);

	margin:70px 0 0 0;
	height:35px;
	text-shadow:rgba(0,0,0,.6) 0px 2px 2px;
	ul {
		width:960px;
		margin:0 auto;
	}

	ul li {
		a {
			text-transform: lowercase;

			font-size:1.0em;
			color: #fff;

			padding: 8px 10px;
			text-decoration: none;
			
			border-right:1px solid rgba(0,0,0,.5);

			&:hover {
			     background: rgba(200,200,200,.2) !important;
			     @include transition(background-color ,.09s);
			}

			&:active {
				background: rgba(0,0,0,.4) !important;
			}

			&:after {
				content: '\2192';
				text-decoration: none;
				margin: 0 0 0 15px;
			}
		}


		&:last-child a 
		{
			text-decoration: none;
			font-weight:bold;
			border:0;
		}

		&:last-child a:after 
		{
			margin: 0;
			content:'';
		}
	}
}
