@import url(http://fonts.googleapis.com/css?family=Francois+One);

/*
	Hero Banner
	============
	This is the image that appears on content pages
*/
.hero-wrapper {
	background-color:#333;
	height: 600px;
	box-shadow:rgba(0,0,0,.6) 0px 2px 10px;
	overflow:hidden;
	position:relative;

}

.hero-wrapper img {
	z-index:1;
	display:block;
	margin:0 auto;
}
/*
	Hero Message
	------------
	Styles the textbox that's in the hero wrapper
*/
.hero-message {
	color: #fff;
	padding: 20px;
	margin:250px 10% 0 10%;
	
	font-size:20px;	

	position:absolute;
	z-index:3000;
	text-align:center;
	width:80%;

	text-shadow:rgba(0,0,0,1) 0px 1px 3px;
}

.hero-message a {
	color: inherit;
}

.hero-message h1 {
	font-size: 50px;
	font-weight: bold;
	text-align:center;
	margin: 0;
    	text-transform:uppercase;
	padding: 5px 0;
//	border-bottom: 1px solid #fff;
}

.call-to-action {
	h2 {
		color:#2a33df - #00c + #333;
		text-align:center;	
	}
}

