@mixin skin-black-glass-shadow ($top) {
	color:#fff;
	
	background: #333;
	background: rgba(0,0,0,.7);
	

	@if($top) {
		box-shadow:rgba(0,0,0,.3) 0px 2px 3px;
		border-bottom:#333 1px solid;
		border-bottom:rgba(0,0,0,.4) 1px solid;		
	}
	@else {
		box-shadow:rgba(0,0,0,.3) 0px 2px -3px;
		border-top:#333 1px solid;
		border-top:rgba(0,0,0,.4) 1px solid;		
	}
} 

@mixin soft-glass() {
	color:#fff;

	background:#fff;
	background:rgba(255,255,255,.1);
	
	box-shadow:rgba(0,0,0,.2) 0px 1px 2px;
	border-bottom:#ddd 1px solid;
	border-bottom:rgba(155,155,155,.3) 1px solid;		
}
