@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

p {
	line-height: 1.56em;
	font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	text-transform:uppercase;
	font-weight: 500;
}
